{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_request/request_edit.css' %}">
{% endblock %}

{% block content %}
    <section class="request-edit-section">
        <h2>관리자 요청 수정</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="errors">{{ form.non_field_errors }}</div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit">수정하기</button>
        </form>
    </section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/admin_request/request_edit.js' %}"></script>
{% endblock %}
