# .gitattributes 파일 내용에 추가/확인

# HTML, CSS, 파이썬 파일 등 모든 텍스트 파일에 LF 적용
*.html text eol=lf
*.css text eol=lf
*.py text eol=lf
*.txt text eol=lf

# 설정 파일
.gitignore text eol=lf
.pre-commit-config.yaml text eol=lf
.gitattributes text eol=lf

# requirements.txt 파일은 EOL 변환을 사용하지 않도록 명시
requirements.txt binary
