/* request_list.css */

.request-list-section {
    background-color: #f9f9f9;
    padding: 20px;
}

.request-list-section h2 {
    color: #333;
}

.request-list-section ul {
    list-style-type: none;
    padding: 0;
}

.request-list-section ul li {
    margin: 10px 0;
}

.request-list-section p a {
    color: #007bff;
    text-decoration: blackline;
}
