apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # [주의] Your-Email-Address@example.com 대신 실제 이메일 주소를 입력하세요.
    email: itformation702@gmail.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-key
    solvers:
    - http01:
        ingress:
          class: traefik # K3s의 기본 Ingress Controller 지정
