apiVersion: v1
kind: ConfigMap
metadata:
  name: django-config
data:
  # [공개 설정] 비밀번호가 아닌 설정값들만 모았습니다.
  DEBUG: "False"
  SECURE_SSL_REDIRECT: "True"
  ALLOWED_HOSTS: "localhost,127.0.0.1,web,django-service,34.19.138.132,itformation.p-e.kr"
  CSRF_TRUSTED_ORIGINS: "https://itformation.p-e.kr,http://itformation.p-e.kr:30000,http://34.19.138.132:30000,http://34.19.138.132"
  POSTGRES_DB: "itformation"
  POSTGRES_USER: "postgres"
  POSTGRES_HOST: "postgres-service"
  POSTGRES_PORT: "5432"
  EMAIL_HOST_USER: "itformation702@gmail.com"
  DJANGO_EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
  EMAIL_HOST: "smtp.gmail.com"
  EMAIL_PORT: "587"
  EMAIL_USE_TLS: "True"

---
# Nginx 설정 (ConfigMap)
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  default.conf: |
    upstream django {
        server django-service:8000;
    }
    server {
        listen 80;
        location / {
            proxy_pass http://django;
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
        location /static/ {
            alias /app/staticfiles/;
        }
    }
