<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="/">My Django Project</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Django Project. All rights reserved Test.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
