<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% if nickname %}
            <h1>환영합니다, {{ nickname }}님! 👋</h1>
            <p><a href="{% url 'logout' %}">로그아웃</a></p>
        {% else %}
            <h1>로그인이 필요합니다.</h1>
            <p><a href="{% url 'login' %}">로그인</a> | <a href="{% url 'signup' %}">회원가입</a></p>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Django Project. All rights reserved.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
