{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}  {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user/signup.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="empty-background-col"></div>

    <div class="registration-section">
        <div class="registration-box">
            <h1>회원가입</h1>

            <form method="post" aria-label="회원가입 폼">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class="input-group">

                        <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>

                        {{ field|add_class:"input" }}

                    </div>
                {% endfor %}

                <button type="submit" class="signup-btn">가입 완료</button>

                </form>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/user/signup.js' %}"></script>
{% endblock %}
